:root {
  --brand-primary: #8499B1;
  --brand-secondary: #A5C4D4;
  --brand-accent: #80839F;
  --brand-dark: #7B6D8D;
  --brand-light: #DBE5E8;
}
body {
  background-color: var(--brand-light);
  margin: 0%;
}

header {
  background-color: var(--brand-accent);
}
.logo {
  height: 50px;
}

img {
  height: 300px;
}

nav {
  background-color: var(--brand-primary);
}

footer {
  background-color: var(--brand-primary);
}
